<section>
    <div class="container-fluid" style="height:100vh;">
        <div class="row">
            <div class="col-md-3" style="background-color:darkslateblue;;height:100vh;padding-top:50px;">
                <div class="row" style="padding:10px;">

                    <div class="col-sm-9 col-lg-9 mx-auto">
                        <h4 style="color:white;font-weight:bold;">Enter your address:</h4>
                        <!-- <div class="form-group has-success">
                            <input type="text" id="searchAddress" name="searchAddress" placeholder="e.g. 101 8th St, Oakland, CA" class="form-control form-control-success" ng-model="$ctrl.address" style="background-color: white;color:black;">
                        </div> -->
                        <div id='geocoder' class='geocoder'></div>
                        <div style="text-align:right;">
                            <button class="btn btn-primary" ng-click="$ctrl.getResults()"><span style="font-weight: bold"><i class="fa fa-list-ul"></i>&nbsp; Analyze Address</span></button>
                        </div>
                    </div>
                </div>
                <div class="row" style="text-align:center;padding-top:50px;" ng-if="loading">
                    <div style="text-align:center;margin:auto;">
                        <span style="text-align:center;color:white; font-size:25px;font-weight:bold;"><i class="fa fa-cog fa-spin"></i>Loading Results...</span>
                    </div>

                </div>
                <div class="row" style="color:white;padding:30px;font-weight: bold;overflow: scroll;height:70vh;" ng-show="results">
                    <div class="container">
                        <h4 style="color:white;font-weight:bold;">Results</h4>
                        Address: {{inputAddress}}


                        <div class="row" style="padding-top:10px;margin-top:10px;">
                            <div class="col-md-6" style="background-color: #EFA8AC;color:black; padding:5px;border-right: solid white 3px;">
                                Fault Rupture
                            </div>
                            <div class="col-md-6" style="background-color:lightgreen;color:black; padding:5px;" ng-show="faultzone === 1">
                                YES
                            </div>
                            <div class="col-md-6" style="background-color:red;color:white;padding:5px;" ng-show="faultzone === 0">
                                NO
                            </div>
                        </div>
                        <div class="row" style="padding-top:10px;margin-top:10px;">
                            <div class="col-md-6" style="background-color:#C8E08E;color:black;padding:5px;border-right: solid white 3px;">
                                Liquefaction
                            </div>
                            <div class="col-md-6" style="background-color:red;color:white;padding:5px;" ng-show="liquefaction === 0">
                                NO
                            </div>
                            <div class="col-md-6" style="background-color:lightgreen;color:black;padding:5px;" ng-show="liquefaction === 1">
                                YES
                            </div>
                        </div>
                        <div class="row" style="padding-top:10px;margin-top:10px;">
                            <div class="col-md-6" style="background-color:orange;color:black;padding:5px;border-right: solid white 3px;">
                                Landslide
                            </div>
                            <div class="col-md-6" style="background-color:red;color:white;padding:5px;" ng-show="landslide === 0">
                                NO
                            </div>
                            <div class="col-md-6" style="background-color:lightgreen;color:black;padding:5px;" ng-show="landslide === 1">
                                YES
                            </div>
                        </div>
                        <div class="row" style="padding-top:20px;">
                            <p>
                                **Disclaimer**
                                <br><br> The information provided is intended for planning use only and may not depict actual site-specific risk. It depicts general risks within neighborhoods and the relative risks from community to community. This map
                                generalizes hazards by parcel; that is, if any portion of your parcel is within a hazard zone, the entire parcel will be flagged. This does not necessarily mean that your entire parcel is at equal risk. Additionally, hazard
                                levels are less likely to be accurate if your parcel is on, or near, the border between zones. The information in this map application is not a substitute for a site-specific investigation by a licensed professional.
                            </p>
                            <p>
                                For more detail, and more hazard layers not included in this quiz, visit the Resilience Program hazards maps here: <a href="http://gis.abag.ca.gov/website/Hazards/">http://gis.abag.ca.gov/website/Hazards/</a>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-9" style="padding:0;">

                <div id='map' style="top:0;bottom:0;height:100vh;width:100%;postion:relative;"></div>
            </div>
        </div>
    </div>
</section>

<div class="col-xs-12" id="layerToggleDiv">


    <!-- Tabs with Background on Card -->
    <div class="card">
        <div class="card-header" style="font-size:20px; font-weight:bold;">
            Map Overlays
        </div>
        <div class="card-body" style="font-size:18px;font-weight:bold;">
            <!-- Tab panes -->
            <div class="tab-content text-center">
                <div class="tab-pane active show" id="settings1" role="tabpanel">

                    <!-- List group -->
                    <ul class="list-group">
                        <li class="list-group-item">
                            Fault Rupture <i id="faultZoneSpinner" class="fa"></i>
                            <div class="material-switch pull-right">
                                <input id="faultZoneToggle" name="someSwitchOption001" type="checkbox" />
                                <label for="faultZoneToggle" class="label-success"></label>
                            </div>
                        </li>
                        <li class="list-group-item">
                            Landslide <i id="landslideSpinner" class="fa"></i>
                            <div class="material-switch pull-right">
                                <input id="landslideToggle" name="cocToggle" type="checkbox" />
                                <label for="landslideToggle" class="label-success"></label>
                            </div>
                        </li>
                        <li class="list-group-item">
                            Liquefaction <i id="liquefactionSpinner" class="fa"></i>
                            <div class="material-switch pull-right">
                                <input id="liquefactionToggle" name="tpaToggle" type="checkbox" />
                                <label for="liquefactionToggle" class="label-success"></label>
                            </div>
                        </li>
                        <!-- <li class="list-group-item">
                                        City Limits <i id="citySpinner" class="fa"></i>
                                        <div class="material-switch pull-right">
                                            <input id="cityToggle" name="cityToggle" type="checkbox" />
                                            <label for="cityToggle" class="label-success"></label>
                                        </div>
                                    </li> -->
                        <!-- <li class="list-group-item">
                                        Federal Aid Roads <i id="citySpinner" class="fa"></i>
                                        <div class="material-switch pull-right">
                                            <input id="fedAidToggle" name="fedAidToggle" type="checkbox" />
                                            <label for="fedAidToggle" class="label-success"></label>
                                        </div>
                                    </li> -->
                    </ul>
                </div>

            </div>
        </div>
        <!-- End Tabs on plain Card -->


    </div>